<nb-card>
  <nb-card-body>
    <nb-actions size="medium" fullWidth>

      <nb-action>
        <nb-icon class="action-icon" icon="search-outline"></nb-icon>
        <span>Busca</span>
      </nb-action>


      <!-- 
      <nb-action>
        <nb-icon class="action-icon" icon="pause-circle-outline"></nb-icon>
        <span>Pause</span>
      </nb-action> 
    -->

    <!-- list-outline  (logs) -->
    <!-- corner-right-up-outline -->
      <nb-action>
        <nb-icon class="action-icon" icon="upload-outline"></nb-icon>
        <span>Sube</span>
      </nb-action>


      <!-- settings-2-outline  (settings) -->
      <nb-action>
        <nb-icon class="action-icon" icon="activity-outline"></nb-icon>
        <span>Aniliza</span>
      </nb-action>

    </nb-actions>
  </nb-card-body>
</nb-card>


<!-- 
  Pacakge
https://akveo.github.io/eva-icons/#/ 
-->
