
  <!-- <img src="assets/images/banner-madrid-01-busca.png" alt="" width="100%"> -->
  <img src="assets/images/banner-madrid-11-search.png" alt="" width="100%">
  <br>
&nbsp;


<br>
<div class="col-12">
  <nb-card >
    <nb-tabset fullWidth>


      <nb-tab tabTitle="Simple">
          
            <div class="col-sm-9">

              <input type="text" nbInput 
                     id="inputEmail3" width="90%" 
                    placeholder="{{ placeHolderBasico }}"
                          [value]="textoBasico" (input)="textoBasico = $event.target.value"
                    > 
                    &nbsp;
                    <br><br>
                    <button type="submit" nbButton status="" [size]="sizes[0]" (click)="doSearchBasico()">Search</button>
                    &nbsp;
                    <button type="submit" nbButton status="" [size]="sizes[0]" (click)="doClear()">Clear</button>
            </div>

      </nb-tab>


      <nb-tab tabTitle="Avanzado">


            <nb-card>
              <nb-card-header>Buscar Dataset</nb-card-header>
              <nb-card-body>



                  <div class="form-group row">
                    <!-- <label for="inputEmail3" class="label col-sm-3 form-control-label">Email</label> -->
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputTitulo" 
                      placeholder="{{ textoAvTituloPCH }}"
                      [value]="textoAvTitulo" (input)="textoAvTitulo = $event.target.value"
                      >
                    </div>
                  </div>


                  <div class="form-group row">
                    <!-- <label for="inputPassword3" class="label col-sm-3 form-control-label">Password</label> -->
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputDesc"
                      placeholder="{{ textoAvDescPCH }}"
                      [value]="textoAvDesc" (input)="textoAvDesc = $event.target.value"
                      >
                    </div>
                  </div>

                  <div class="form-group row">
                    <!-- <label for="inputPassword3" class="label col-sm-3 form-control-label">Password</label> -->
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputCategoria"
                      placeholder="{{ textoAvCatPCH }}"
                      [value]="textoAvCat" (input)="textoAvCat = $event.target.value"
                      >
                    </div>
                  </div>



                  <div class="form-group row">
                    <div class="offset-sm-3 col-sm-9">
                      <button type="submit" nbButton status="" [size]="sizes[0]" (click)="doSearchAvanzado()">Search</button>
                      &nbsp;
                      <button type="submit" nbButton status="" [size]="sizes[0]" (click)="doClear()">Clear</button>
                    </div>
                  </div>


              </nb-card-body>
            </nb-card>





      </nb-tab>

    </nb-tabset>
  </nb-card>



  
  <div class="infinite-cards row"  *ngIf="searchingBasico">
    <div class="col-md-12 col-lg-6 col-xxxl-6">
      <nb-card class="own-scroll">
        <nb-card-header>Resultados sobre:
          <span class="resaltado">
            {{ textoBasico }}
          </span>
        </nb-card-header>
        <nb-list>
          <nb-list-item>
            Ensayos Clínicos COVID-19 <br>
            <a href="#">download</a>
          </nb-list-item>
          <nb-list-item>
            Intervenciones Farmacológicas (Fármacos Utilizados) COVID-19 <br>
            <a href="#">download</a>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div> 

  <div class="infinite-cards row" *ngIf="searchingAvanzado">
    <div class="col-md-12 col-lg-6 col-xxxl-6">
      <nb-card class="own-scroll">
        <nb-card-header>Resultados para:
          <span class="resaltado">
            {{ textoAvTitulo }}, {{ textoAvDesc }}, {{ textoAvCat }}  
          </span>
        </nb-card-header>
        <nb-list>
          <nb-list-item>
            BASES DE DATOS TRATAMIENTOS COVID-19 <a href="#">download</a>
          </nb-list-item>
          <nb-list-item>
            VACUNAS COVID-19 <a href="#">download</a>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>

</div>