<div class="row">
  <nb-card>
    <nb-card-body>Fast Track Hello App.</nb-card-body>
  </nb-card>


  <nb-card>
    <nb-card-body>
      <nb-actions size="medium" fullWidth>

        <nb-action>
          <nb-icon class="action-icon" icon="search-outline"></nb-icon>
          <span>Busca</span>
        </nb-action>


        <!-- 
        <nb-action>
          <nb-icon class="action-icon" icon="pause-circle-outline"></nb-icon>
          <span>Pause</span>
        </nb-action> 
      -->

        <nb-action>
          <nb-icon class="action-icon" icon="list-outline"></nb-icon>
          <span>Sube</span>
        </nb-action>

        <nb-action>
          <nb-icon class="action-icon" icon="settings-2-outline"></nb-icon>
          <span>Aniliza</span>
        </nb-action>

      </nb-actions>
    </nb-card-body>
  </nb-card>


  <fst-buttons></fst-buttons>

  
</div>
