
  <img src="assets/images/banner-madrid-03-analiza.png" alt="" width="100%">
  <br>
&nbsp;

<br>
<div class="col-12">
  <nb-card >
    <nb-tabset fullWidth>

      <nb-tab tabTitle="Tiende">

        Cantidad de Infecciones 
        <br><br>
        <img src="assets/images/analiza-01-tendencia.png" id="image-center" alt="" width="100%">
      </nb-tab>

      <nb-tab tabTitle="Sector">

        Edad Poblacion
        <br><br>
        <img src="assets/images/analiza-02-bars.png" id="image-center" alt="" width="100%">

      </nb-tab>

      <nb-tab tabTitle="Geo">

        Principales Ciudades
        <br><br>
        <img src="assets/images/analiza-03-geo.png" id="image-center" alt="" width="90%">


      </nb-tab>

    </nb-tabset>
  </nb-card>

</div>