
  <img src="assets/images/banner-madrid-03-analiza.png" alt="" width="100%">
  <br>
&nbsp;

<br>
<div class="col-12">
  <nb-card >
    <nb-tabset fullWidth>

      <nb-tab tabTitle="Tiende">

        Cantidad de Infecciones 
        <br><br><br><br><br><br><br><br><br>

      </nb-tab>

      <nb-tab tabTitle="Sector">

        Edad Poblacion
        <br><br><br><br><br><br><br><br><br>

      </nb-tab>

      <nb-tab tabTitle="Geo">

        Principales Ciudades
        <br><br><br><br><br><br><br><br><br>


      </nb-tab>

    </nb-tabset>
  </nb-card>

</div>